 /* *{
    margin :0;
    padding :0;
    box-sizing: border-box;
 } */
 #largecontainer{
    @media screen and (max-width: 1200px) {
            height: 20%;
            padding: 0;
        }
 }
 
#container{
@media screen and (max-width: 1200px) {
   flex-direction :column;
   /* height : 70%; */
   gap:4px;
}
} 
#date{
@media screen and (max-width: 1200px) {
        flex-direction: column;
        /* height : 70%; */
        gap: 4px;
    }
}
#txt{
@media screen and (max-width: 1200px) {
        padding-bottom: 50px ;
    }
@media screen and (max-width: 663px) {
            padding-bottom: 30px;
            font-size:larger;
            font-weight:bold;
        }
}
#box{
    @media screen and (max-width: 663px) {
            flex-direction: column;
            gap:4px;
        }
}
#testimonial{
    @media screen and (max-width: 1038px) {
            flex-direction: column;
            gap:6px;
        }
}

 @media screen and (max-width: 509px) {
        #nighthead {
            padding-right:15rem;
           font-size:small;
        }
        #nighticon{
            flex-direction: column;
        }
        #nighticon button{
            padding: right 1.5rem;
        }

    }
 @media screen and (max-width: 2100px) {
     #popularsearch{
        flex-wrap: wrap;
        gap:2px;
     }

 }