 /* *{
    margin :0;
    padding :0;
    box-sizing: border-box;
 } */
 #largecontainer{
    @media screen and (max-width: 1200px) {
            height: 20%;
            padding: 0;
        }
 }
 
#container{
@media screen and (max-width: 1200px) {
   flex-direction :column;
   /* height : 70%; */
   gap:4px;
}
} 
#date{
@media screen and (max-width: 1200px) {
        flex-direction: column;
        /* height : 70%; */
        gap: 4px;
    }
}
#txt{
@media screen and (max-width: 1200px) {
        padding-bottom: 50px ;
    }
@media screen and (max-width: 663px) {
            padding-bottom: 30px;
            font-size:larger;
            font-weight:bold;
        }
}
 