 #largecontainer{
    @media screen and (max-width: 1200px) {
            height: 20%;
            padding: 0;
        }
 }
 
 #container{
@media screen and (max-width: 1200px) {
   flex-direction :column;
   /* height : 70%; */
   gap:4px;
}
} 
#date{
@media screen and (max-width: 1200px) {
        flex-direction: column;
        /* height : 70%; */
        gap: 4px;
    }
}