.App {
  text-align: center;
}



.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */


/* Navbar */
.navbar .btn {
  background-color: #1E91B6;
  color: #fff;
  transition: all 250ms ease-in;
}
.navbar .btn:hover {
  background-color: #196680;
}
.footer{
  background-color: #FAFAFB;
}
